## Hotend TZ4.0

[extruder]
;sensor_type = ATC Semitec 104NT-4-R025H42G
sensor_type = Generic 3950
;sensor_type = flawed_thermistor
max_temp = 277
max_power = 0.85
#control = pid
#pid_kp = 35.491
#pid_ki = 14.788
#pid_kd = 21.295

[verify_heater extruder]
max_error = 160
check_gain_time = 20
hysteresis = 5
heating_gain = 2

# This settings was manually done, since Mellow TZ 4.0 came with a flawed thermistor
;[thermistor flawed_thermistor]
# Use the calculated R25 (Resistance at 25C)
;temperature1: 25 
# Flawed NTC with 3950K
;resistance1: 87300
;beta: 3950
# Flawed NTC with ATC Semitec 104NT-4-R025H42G
;resistance1: 86500
;beta: 4350
# Flawed NTC with EPCOS 100K B57560G104F
;resistance1: 86500
;beta: 4066
# Flawed NTC with ATC Semitec 104GT-2 (Bambu Lab)
;resistance1: 86500
;beta: 4267
